//
// Global rules
//

button, input, select, textarea {
  font-family: inherit;
  font-size: 95% !important; // !important required to override matter value
}

p {
  font-size: 85%;
  margin: 0;
  margin-top: 0.5rem;
}

//
// Helpers
//

.flex-column {
  display: flex;
    flex-direction: column;
}

.matter-select-filled {
  outline: none;
  position: relative; // for label positionning

  // label

  label {
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.6);
    display: flex;
      align-items: center;
    font-size: 75%;
    height: 23px;
    padding: 4px 12px 0;
    position: absolute;
    transition: color 0.2s;
  }

  // select

  select {
    background: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.04);
    border: none;
      border-bottom: solid 1px rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.6);
      border-top: solid 26px transparent !important;
    border-radius: 4px 4px 0 0;
    outline: none;
    padding: 0 9px 9px;
    transition: 0.2s background;

    &:disabled {
      background: rgba(var(--matter-onsurface-rgb, 0, 0, 0), .24);

      & + label {
        color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), .38);
      }
    }
    &:focus, &:focus:hover {
      border-bottom: solid 2px RGBA(var(--matter-helper-theme));
      padding-bottom: 8px;
    }
    &:focus + label {
      color: RGB(var(--matter-helper-theme));
    }
    &:hover {
      background: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.08);
      border-bottom-color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), .6);
    }
  }
}

.WarningMessage {
  color: orange;
  display: none;

  &.is-visible {
    display: inherit;
  }
}

//
// Page Body
//

#ExtensionBody {
  margin: 0;
  margin: 1rem 1rem 0 1rem;
}

//
// Page content
//

#ExtensionContent {
  position: relative;
  width: 350px;
  max-width: 350px;
}

#UserSettings {
  margin: auto;
  height: 350px;
  padding-right: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 4rem;

  > * {
    width: 100%;

    & ~ * {
      margin-top: 1.5rem;
    }
  }
}

// source: https://css-scroll-shadows.now.sh/?bgColor=ffffff&shadowColor=858585&pxSize=8
.scroll-gradient {
  background: 
    linear-gradient(#ffffff 33%, rgba(255,255,255, 0)),
    linear-gradient(rgba(255,255,255, 0), #ffffff 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(133,133,133, 0.5), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(133,133,133, 0.5), rgba(0,0,0,0)) 0 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 24px, 100% 24px, 100% 8px, 100% 8px;
}

//
// Page title
//

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

//
// Trigger key
//

select#triggerKey {
  @extend .matter-select-filled;
}

//
// Mode
//

select#mode {
  @extend .matter-select-filled;
}

//
// Ignored URLs
//

textarea {
  max-height: 350px; // Auto-size max
  min-height: 150px;
  resize: none;

  /* Only show placeholder text when textarea is focused and its label is floating, otherwise the label and the
  placeholder would overlap when unfocused */
  &::placeholder {
    opacity: 0;
  }
  &:focus::placeholder {
    opacity: 1;
  }
}

#ignoredUrlsLabel {
  /* .matter-textarea-filled gives span 48px line-height which is undesirable for the extension popup */
  line-height: inherit;
}

//
// Save button
//

button {
  height: 2.5rem !important; // !important required to override matter value
  text-transform: uppercase;
}

.save-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  justify-content: center;
}